<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="17a67be8-f850-4c57-b521-9ee175a21aa6" Publisher="CN=micaelcarlstedt" Version="1.0.0.0" />
  <Properties>
    <DisplayName>MyDashboardDemo.App</DisplayName>
    <PublisherDisplayName>micaelcarlstedt</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="MyDashboardDemo.App.App">
      <VisualElements DisplayName="MyDashboardDemo.App" Logo="Assets\Logo.png" SmallLogo="Assets\SmallLogo.png" Description="MyDashboardDemo.App" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="Assets\SplashScreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="webcam" />
    <DeviceCapability Name="microphone" />
  </Capabilities>
</Package>